.content-wrapper
  %section.content.container-fluid
    %section
      .content-wrapper
        .row.row-class
          .col-sm-6
            .access
              %p Subject List
          .col-sm-6
            .btn-add-new{:style => "float: right;"}
              .space-10
                = link_to 'Add New', new_admin_subject_path, remote: :true, class: '.margin-15'
        .table-content
          %table.table.table-striped.table_t
            %thead.head-th{:style => ""}
              %tr
                %th.role.bor.Role-width{:scope => "col", :style => ""} Reference
                %th.role.bor.role-blank-th-t{:scope => "col", :style => ""}   
                  Subject Name
                %th.role.bor.role-blank-th-t{:scope => "col", :style => ""} Action
            %tbody
              - @subjects.each.with_index(1) do |subject, index|
                %tr
                  %td.change.tr-radius-left
                    = subject.id
                  %td.change.tr-radius-left
                    = subject.name
                  %td.change.tr-radius-left 
                    = link_to 'Edit', edit_admin_subject_path(subject), remote: true