.container
  .main-body
    .body-inner-content
      %strong> New Features: You can now embed Open Library books on your website!
      %a.learn-more{:role => "button"} Learn More
    .all-margin
      .browse-subject
        %a Browse by Subject
        %hr/
      .carousal-container
        .single-item
          .block-subject
            %img.img-responsive.castle{:src => "castle.png"}/
            %p.religion Religion
            %p.religion-subtext 41,339 books
      .Classic-Books
        .browse-subject
          %a Classic Books
        .carousal-container
          .single-item
            .img-cover
              %img.img-responsive.joseph{:src => "joseph.jpg"}/
              %a.read-more{:role => "button"} Read More
      .Classic-Books
        .browse-subject
          %a Romance
        .carousal-container
          .single-item
            .img-cover
              %img.img-responsive.joseph{:src => "joseph.jpg"}/
              %a.read-more{:role => "button"} Borrow
      .Classic-Books
        .browse-subject
          %a Textbooks
        .carousal-container
          .single-item
            .img-cover
              %img.img-responsive.joseph{:src => "joseph.jpg"}/
              %a.read-more{:role => "button"} Borrow
      .Classic-Books
        .browse-subject
          %a Thrillers
        .carousal-container
          .single-item
            .img-cover
              %img.img-responsive.joseph{:src => "joseph.jpg"}/
              %a.read-more{:role => "button"} Borrow
      .Classic-Books
        .browse-subject
          %a Authors Alliance  MIT Press
        .carousal-container
          .single-item
            .img-cover
              %img.img-responsive.joseph{:src => "joseph.jpg"}
                %a.read-more{:role => "button"} Borrow
      .Classic-Books
        %h2.about About the project
        .row
          .col-sm-6
            %p.c-text
              Open Library is an open, editable library catalog, building towards a web page for every book ever published.
              = succeed "." do
                %a{:href => "#"} More
            %p.s-text
              Just like Wikipedia, you can contribute new information or corrections to the catalog. You can browse by
              = succeed "," do
                %a{:href => "#"} subjects
              %a{:href => "#"} authors
              or
              %a{:href => "#"} lists
              members have created. If you love books, why not help build a library?
          .col-sm-6
            %a.underline{:href => "#"} Latest blog post
            %br/
            %span
              %a.underline.underline-small{:href => "#"} Raising Crypto for the Greater Good
              \- October 27, 2018
            %br/
            %span
              %a.underline.underline-small{:href => "#"} Google Summer of Code 2018
              \- August 12, 2018
            %br/
            %span
              %a.underline.underline-small{:href => "#"} Search Full-Text within 4M+ Books
              \- July 14, 2018
            %a{:href => ""}








