.container
  .main-body
    .body-inner-content
      %strong> New Features: You can now embed E-Library books on your website!
    .row
      .col-md-12
        .col-md-4  
          .img-cover
            %img.img-responsive.joseph
              = link_to(image_tag(url_for(@book.images)), public_book_path(@book), class: 'image-list')
        .col-md-8
          = @book.book_name
    .row
      %center
        .col-md-4
          = link_to 'Read Book', "#{url_for(@book.images)}", target: "_blank", class: 'btn btn-success'